<p>
  <%= link_to(image_tag(partial_variable[:business_image], alt: "#{partial_variable[:business_image]} food picture"), partial_variable[:business_url], target: '_blank') %>
  <%= partial_variable[:business_name] %>
  <%= number_to_phone(partial_variable[:business_phone], area_code: true) %>
  <%= image_tag(partial_variable[:business_rating_image], alt: "rating image") %>
  You should listen to the
  <%= partial_variable[:music_type] %> by
  <%= link_to(partial_variable[:music_name], partial_variable[:music_url], target: '_blank') %> by
  <%= partial_variable[:music_artist] %>
  while you eat here!
  <%#= link_to(image_tag(partial_variable[:music_image], width: "64", height: "64"), partial_variable[:music_url], target: '_blank') %>

  <iframe src="https://embed.spotify.com/?uri=<%=partial_variable[:music_embed] %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

  <% if !current_user.nil? %>
    <% if delete_button  %>
      <%= button_to "Delete Favorite", favorites_path(current_user.uid), params: { suggestion: partial_variable[:suggestion_id] }, :method => :delete, data: {confirm: "Are you sure?"} %>
    <% else %>
      <%= button_to "Add to Favorites", favorite_path(current_user.uid), params: { suggestion: partial_variable[:suggestion_id] }, form: { "data-type" => "json"} %>
    <% end %>
  <% end %>
</p>
