
<div class="col-sm-6 col-md-4 clearfix text-center card-h">
  <div class="thumbnail card-p">
    <%= link_to(image_tag(partial_variable[:business_image], alt: "#{partial_variable[:business_image]} food picture", class: "thumbnail"), partial_variable[:business_url], target: '_blank') %>
    <div class="caption">
      <h3><%= partial_variable[:business_name] %></h3>
    </div>
    <p>
      <%= image_tag(partial_variable[:business_rating_image], alt: "rating image") %>
      <p>
        <%= number_to_phone(partial_variable[:business_phone], area_code: true) %>
      </p>
      You should listen to
      <p>
        <%= link_to(partial_variable[:music_name], partial_variable[:music_url], target: '_blank') %>
      </p>
      <p>
        while you eat here!
      </p>
      <p>
        Artist:
        <% if partial_variable[:music_type] == "artist" %>
          <%= partial_variable[:music_name] %>
        <% else %>
          <%= partial_variable[:music_artist] %>
        <% end %>
      </p>
      <p>
        Type: <%= (partial_variable[:music_type]).titleize %>
      </p>
      <%#= link_to(image_tag(partial_variable[:music_image], width: "64", height: "64"), partial_variable[:music_url], target: '_blank') %>
    </p>

    <p>
      <iframe src="https://embed.spotify.com/?uri=<%= partial_variable[:music_embed] %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </p>

    <div class="form-actions">
      <% if !current_user.nil? %>
        <% if delete_button  %>
          <%= button_to favorites_path(partial_variable[:suggestion_id]), :method => :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% else %>
          <%= button_to favorite_path(partial_variable[:suggestion_id]), form: { "data-type" => "json"}, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-heart"></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
