<%= form_tag suggestions_path, method: :get do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>

  <%= label_tag :limit %>
  <%= text_field_tag :limit %>

  <%= submit_tag %>
<% end %>

<% if @suggestions %>
  <% @suggestions.each do |suggestion| %>
    <p>
      <%= image_tag(suggestion[:business_image], alt: "#{suggestion[:business_image]} food image") %>  <%= image_tag(suggestion[:business_rating_image], alt: "rating image") %> You should go to <%= suggestion[:business_name] %> if you want <%= params[:query] %>.
      While you are there, you should listen to the
      <%= suggestion[:music_type] %> <%= suggestion[:music_name] %>.  <%= suggestion[:music_image] %>
    </p>
  <% end %>
<% end %>
