<!DOCTYPE html>
<html>
  <head>
    <title>TunesTakeout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <% if current_user.nil? %>
            <li><%= link_to(image_tag("/assets/spotify-user-logo.jpeg", width: "64", height: "64", alt: "spotify avatar")," https://www.spotify.com/us/account/overview/") %></li>
            <li><%= link_to("Hello, please sign in!", "https://www.spotify.com/us/account/overview/") %></li>
          <% else %>
            <li><%= link_to(image_tag("#{current_user.image_url}", width: "64", height: "64", alt: "spotify avatar")," https://www.spotify.com/us/account/overview/") %></li>
            <li><%= link_to("Hi #{current_user.name}!", "https://www.spotify.com/us/account/overview/") %></li>
          <% end %>

          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Favorites", users_path if current_user %></li>
          <li><%= link_to "Suggestions", suggestions_path if current_user %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign in with Spotify", '/auth/spotify' unless current_user %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete if current_user %></li>
        </ul>
      </div>
    </nav>

    <div class="container theme-showcase">
      <div class="jumbotron jumbo-fix">
        <h1>Tunes and Takeout</h1>
        <p>
          Rock out, while you eat out!
        </p>
      </div>

      <% if !flash.empty? %>
        <div class="alert alert-info">
          <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, :id => key %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
